body {
	width: 920px;
	margin: 0 auto;
	margin-bottom: 50px;
	font-family: HelveticaNeue,"Helvetica Neue",HelvRegularIBM,Helvetica,Arial,Roboto,sans-serif;
	font-weight: 400;
	font-style: none;
	font-variant: none;
	text-decoration: none;
	text-transform: none;
	color: #323232;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
}

section {
	width: 100%;
	padding: 10px;
	display: inline-block;
}

h1 {
	color: #FF7832;
	text-transform: uppercase;
	letter-spacing: .07em;
	margin-bottom: 24px;
	margin-top: 48px;
}

h1::after {
	content: " ";
	display: block;
	width: 224px;
	height: 2px;
	background: #FF7832;
	margin: 14px 0 20px;
}

p {
	margin-bottom: 25px;
}

article {
	float: left;
	width: 50%;
	margin: 0px auto;
}

pre {
	width: 360px;
	height: 220px;
	overflow: scroll;
	background-color: #E9E9E9;
	float: left;
	padding: 10px;
	margin: 0;
}

button {
	margin: 0;
	margin-top: 20px;
	margin-right: 10px;
	border: 0;
	border-radius: 5px;
	font: inherit;
	line-height: 1.5em;
	vertical-align: baseline;
	background: #D74108;
	box-shadow: 0 0 6px 2px #C7C7C7;
	padding: .2em 1.3em;
	color: #fff;
	font-size: 1.0rem;
	display: inline-block;
	width: 100px;
}

.small_button {
	width: 70px;
	background: #FF7832;
	margin: 0;
}